{
  "parser": "babel-eslint",
  "rules": {
    "strict": 0
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "worker": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}